<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <!--Aqui ira el codigo de la pagina principal/login/registro, Checkea el diseño!-->
    
    <div class="centered">

        <h1 class="title">Pagina en desarollo</h1>
    <h2 class="subtitle">Algo duro</h2>

    </div>
    
    <script src="/static/main.js"></script>
</body>
</html>