<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>TEST</title>
        <link rel="stylesheet" href="/app/static/styleSheets/generalStyles.css">
    </head>
    <body>
       <div class="banner">
           <div class="navbar">
               <ul>
                   <li><a href="#">Home</a></li>
                   <li><a href="#">Profile</a></li>
                   <li><a href="#">School</a></li>
                   <li><a href="#">Events</a></li>
                   <li><a href="#">Settings</a></li>
               </ul>
           </div>
           <div class="content">
               <h1>Welcome</h1>
               <p>This website is under development<br>come back later.</p>
               <div>
                   <button type="button"><span></span>ABOUT US</button>
               </div>
           </div>
       </div>
        <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    </body>
</html>